{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-5">
        <h1>account: {{ account.id }}</h1>

        <p><strong>Author:</strong> {{ account.user }}</p> <!-- author detail link not yet defined -->
        <p><strong>Type:</strong> {{ account.type_of_currency }}</p>
        <p><strong>count:</strong> {{ account.count }}</p>
        <p><strong>Created:</strong> {{ account.created }}</p>
        <p><strong>IsActive:</strong>{{ account.is_active }}</p>
        <div class="input-group">
            <a class="btn btn-outline-primary mb-3 mb-md-3"
               href="{% url 'account-list' %}">Back</a>

            {% if account.is_active %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ account.id }}" name="accountId">
                    <button type="submit" class="btn btn-outline-danger ml-3 mb-3 ">Deactivate</button>
                </form>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ account.id }}" name="accountId">
                    <button type="submit" class="btn btn-outline-success  mb-3 mb-md-3 ml-md-3">Activate</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}